@using System.Reflection;
@using System.ComponentModel.DataAnnotations;
@inject DialogService DialogService
@inject HttpClient Http
@inject NotificationService NotificationService

<EditForm Model="@SetDefinition" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="alert alert-danger" style="display: @errorDisplay">
        @errorMessage
    </div>
    <div style="z-index:200">

            <RadzenRow Style="margin-bottom:20px;">
                <RadzenColumn Style="text-align:center">
                <RadzenText Style="padding-bottom:10px;" Text="@DisplayNameHelper.GetDisplayName(SetDefinition, "Weight")" />
                <RadzenNumeric @bind-Value="@SetDefinition.Weight" />
                <ValidationMessage For="() => SetDefinition.Weight" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow Style="margin-bottom:20px;">
                <RadzenColumn Style="text-align:center">
                <RadzenText Style="padding-bottom:10px;" Text="@DisplayNameHelper.GetDisplayName(SetDefinition, "Reps")" />
                <RadzenNumeric @bind-Value="@SetDefinition.Reps" />
                <ValidationMessage For="() => SetDefinition.Reps" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow Style="margin-bottom:20px;">
                <RadzenColumn Style="text-align:center">
                <RadzenText Style="padding-bottom:10px;" Text="Select Difficulty Measurements" />
                    <RadzenSelectBar @bind-Value=@valuesForDifficulties Data="@difficultyValues" TValue="IEnumerable<string>" Multiple="true" Change=@OnChangeDifficulty />
                <ValidationMessage For="() => SetDefinition.UsingRIR" />
                    <ValidationMessage For="() => SetDefinition.UsingRPE" />
                <ValidationMessage For="() => SetDefinition.UsingPercentageOfOneRepMax" />
                </RadzenColumn>
            </RadzenRow>

        @if (SetDefinition.UsingRPE)
            {
                <RadzenRow Style="margin-bottom:20px;">
                    <RadzenColumn Style="text-align:center">
                    <RadzenText Style="padding-bottom:10px;" Text="@DisplayNameHelper.GetDisplayName(SetDefinition, "RPE")" />
                    <RadzenTextBox @bind-Value="@SetDefinition.RPE" />
                    <ValidationMessage For="() => SetDefinition.RPE" />
                    </RadzenColumn>
                </RadzenRow>
            }

        @if (SetDefinition.UsingRIR)
            {
                <RadzenRow Style="margin-bottom:20px;">
                    <RadzenColumn Style="text-align:center">
                    <RadzenText Style="padding-bottom:10px;" Text="@DisplayNameHelper.GetDisplayName(SetDefinition, "RIR")" />
                    <RadzenTextBox @bind-Value="@SetDefinition.RIR" />
                    <ValidationMessage For="() => SetDefinition.RIR" />
                    </RadzenColumn>
                </RadzenRow>
            }

        @if (SetDefinition.UsingPercentageOfOneRepMax)
            {
                <RadzenRow Style="margin-bottom:20px;">
                    <RadzenColumn Style="text-align:center">
                    <RadzenText Style="padding-bottom:10px;" Text="@DisplayNameHelper.GetDisplayName(SetDefinition, "PercentageOfOneRepMax")" />
                    <RadzenTextBox @bind-Value="@SetDefinition.PercentageOfOneRepMax" />
                    <ValidationMessage For="() => SetDefinition.PercentageOfOneRepMax" />
                    </RadzenColumn>
                </RadzenRow>
            }

            <RadzenRow Style="margin-bottom:20px;">
                <RadzenColumn Style="text-align:center">
                <RadzenText Style="padding-bottom:10px;" Text="@DisplayNameHelper.GetDisplayName(SetDefinition, "Type")" />
                    <RadzenSelectBar @bind-Value=@enumValue Data="@enumValues" TValue="string" Multiple="false" Change=@OnChangeType />
                <ValidationMessage For="() => SetDefinition.Type" />
                </RadzenColumn>
            </RadzenRow>
            <RadzenRow>
                <RadzenColumn Style="text-align:center">
                    @if (editing)
                    {
                    <button class="rz-button rz-button-md rz-variant-filled rz-success rz-shade-default" type="submit">Edit</button>
                    }
                    else
                    {
                    <button class="rz-button rz-button-md rz-variant-filled rz-success rz-shade-default" type="submit">Create</button>
                    }
                    
                </RadzenColumn>

            </RadzenRow>

    </div>
</EditForm>

@code {
    [Parameter]
    public int WorkoutExerciseDefinitionId { get; set; }
    [Parameter]
    public SetDefinition SetDefinition { get; set; } = null;
    string enumValue = null;
    IEnumerable<string> enumValues = Enum.GetNames(typeof(SetType)).ToList();
    bool editing = true;

    private string errorMessage = string.Empty;
    private string errorDisplay = "none";

    IEnumerable<string> valuesForDifficulties = null;
    IEnumerable<string> difficultyValues = new string[]{"RPE", "RIR", "PercentageOfOneRepMax"};


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        try
        {
            if (SetDefinition == null)
            {
                editing = false;
                SetDefinition = new SetDefinition();
                SetDefinition.WorkoutExerciseDefinitionId = WorkoutExerciseDefinitionId;
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    void OnChangeType(string value)
    {
        List<SetType> setTypeList = Enum.GetValues(typeof(SetType)).Cast<SetType>().ToList();
        foreach(var type in setTypeList)
        {
            if (type.ToString().Equals(value))
            {
                SetDefinition.Type = type;
            }
        }
    }

    private async Task HandleValidSubmit()
    {
        // Reset error message and display style
        errorMessage = string.Empty;
        errorDisplay = "none";


        // Perform the HTTP POST request to the server
        HttpResponseMessage response;

        if(editing)
        {
            response = await Http.PutAsJsonAsync($"api/SetDefinitions/{SetDefinition.Id}", SetDefinition);
        }
        else
        {
            response = await Http.PostAsJsonAsync("api/SetDefinitions", SetDefinition);
        }

        if (!response.IsSuccessStatusCode)
        {
            if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
            {
                // Handle BadRequest response containing ModelState errors
                var responseContent = await response.Content.ReadAsStringAsync();
                errorMessage = responseContent;
                errorDisplay = "block";
            }
            else
            {
                // Handle other error responses as needed
                // ...
            }
        }
        else
        {
            DialogService.Close(SetDefinition);
            if(editing)
            {
                NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Success", Detail = "Set Definition Edited", Duration = 20000 });
            }
            else
            {
                NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Success", Detail = "Set Definition Created", Duration = 20000 });
            }
            
        }
    }

    void OnChangeDifficulty(IEnumerable<string> values)
    {
        SetDefinition.UsingPercentageOfOneRepMax = false;
        SetDefinition.UsingRIR = false;
        SetDefinition.UsingRPE = false;

        foreach(var value in values)
        {
            switch (value)
            {
                case "RPE":
                    SetDefinition.UsingRPE = true;
                    break;
                case "RIR":
                    SetDefinition.UsingRIR = true;
                    break;
                case "PercentageOfOneRepMax":
                    SetDefinition.UsingPercentageOfOneRepMax = true;
                    break;
            }
        }
    }
}
